
.Home {
  height: 30px;
}

.Home .pagination {
  margin: auto;
  width: 50%;
} 

.Home .pagination ul {
  display: inline-block;
}

.Home li {
  margin: 3px;
  display: inline-block;
  color: white;
  font-family: 'Khand script=all rev=2', 'Raleway', 'Titillium Web', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 14px;
}

.Home li a {
  color: #00d2e6;
  float: right;
  padding: 8px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #00d2e6;
  width: 50px;
}

.Home li a:hover {
  transition: background-color .3s;
  background-color: #00d2e6;
  color: #031538;
  border: 1px solid #00d2e6;
}

.Home Table {
  width: 50%;
  margin-left: 30px;
  margin-top: 30px;
  color: white;
  font-family: 'Khand script=all rev=2', 'Raleway', 'Titillium Web', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  background-color: #0f2247;
  color: #93abdd;
  float: left;
}

.Home th{
  color: #ff3c00;
  margin-left: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  font-family: 'Khand script=all rev=2', 'Raleway', 'Titillium Web', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 2px;
}
.Home .table-dark td, .table-dark th, .table-dark thead th {
  border-color: red;
}
.Home .table-bordered td, .table-bordered th {
  border: 1px solid red;
}

.Info {
  float: right;
  margin: 30px 0px;
  margin-left: 40px;
  margin-right: 40px;
}

.Info div:hover {
  opacity: 0.75;
}

.Info div {
  background-color: #293b5e;
  border-radius: 3px;
  margin-bottom: 10px;
  padding-right: 3px;
}

.Info em {
  color: #8c96aa;
}

.Info strong {
  color: #ff3c00;
  margin-left: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  font-family: 'Khand script=all rev=2', 'Raleway', 'Titillium Web', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 2px;
}

.Info p {
  margin-left: 20px;
  color: white;
  font-family: 'Khand script=all rev=2', 'Raleway', 'Titillium Web', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
}