.Gallery {
  margin: 80px 10px;
  /* border: 1px solid #ccc;
  width: 80px;
  display: flex;    
  flex-direction: column; */
}

.Gallery img {
  height: 80px;
  width: 80px;
  float: left;
}

.Gallery img:hover {
  opacity: 0.5;
}