.GalleryInfo {
  float: right;
  margin: 80px 0px;
  margin-left: 40px;
  margin-right: 40px;

}
.GalleryInfo div {
  background-color: #293b5e;
  border-radius: 3px;
}

.GalleryInfo em {
  color: #8c96aa;
}

.GalleryInfo strong {
  color: #ff3c00;
  margin-left: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  font-family: 'Khand script=all rev=2', 'Raleway', 'Titillium Web', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 3px;
}

.GalleryInfo p {
  margin-left: 20px;
  color: white;
  font-family: 'Khand script=all rev=2', 'Raleway', 'Titillium Web', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
}