.SearchBar {
    /* margin-left: 200px; */
}
.SearchBar input {
    background-color: #031538;
    border-color: #00d2e6;
    color: white;
    border-radius: 3px;
    border-style: solid;
    border-width: thin;
    border-width: thin;
    font-size: 14px;
    width: 300px;
}

.SearchBar input[type="text"]:hover,
.SearchBar input[type="text"]:focus,
.SearchBar input[type="text"]:active {
    background-color: #031538;
    border-color: #ff009d;
    transition: border-color 2s;
    color: white;
    outline: none;
    box-shadow:none !important;
  }