.DatabaseDropdown div {
  background-color:#031538;
  border-radius: 0px;
  border: 0px;
}

.DatabaseDropdown button {
  background-color:#031538;
  color: bold;
  margin: 0;
  padding-left: 10px;
  padding-top: 0.65rem;
  padding-bottom: 0.95rem;
  list-style: none;
  display: flex;
  flex-flow: column;
  align-items: center;
  /* font-family: 13px/1.5 "Roboto", "Arial", sans-serif; */
  font-family: 'Khand script=all rev=2', 'Raleway', 'Titillium Web', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  border: 0px;
  line-height: 4;
  outline: none !important;
  border-radius: 0px;
  outline: none;
  box-shadow:none !important;
  border: 0 !important;

}

.DatabaseDropdown button:hover,
.DatabaseDropdown button:focus,
.DatabaseDropdown button:active {
  background-color: #12203a;
  color: rgb(11, 171, 219);
  height: 100%;
  transition: background-color .4s;
  border-radius: 0px;
  outline: none !important;
  /* margin-top: -1px; */
  font-weight: bold;
}

.DatabaseDropdown button::after {
  display:none;
}

.DatabaseDropdown div a {
  transition: background-color .4s;
  color: #00d2e6;
  background-color: #12203a;
  border-radius: 0px;
  outline: none !important;
  font-weight: bolder;
  border: 0;
}

.DatabaseDropdown div a:hover,
.DatabaseDropdown div a:active {
  background-color: #313d55;
  transition: background-color .4s;
  color: white;
  border-radius: 0px;
  border: 0 !important;
  transform: scale(0.99);
}
