.DatabaseDropdown div {
  background-color:rgb(27, 27, 27);
  border-radius: 0px;
  border: 0px;
}

.DatabaseDropdown button {
  background-color:rgb(27, 27, 27);
  color: lime;
  margin: 0;
  padding-left: 10px;
  /* padding-bottom: 12px; */
  list-style: none;
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100%;
  font-family: 'Khand script=all rev=2', 'Raleway', 'Titillium Web', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  border: 0px;
  line-height: 4;
  outline: none !important;
  border-radius: 0px;
  outline: none;
  box-shadow:none !important;
  border: 0 !important;

}

.DatabaseDropdown button:focus,
.DatabaseDropdown button:hover,
.DatabaseDropdown button:active {
  background-color: #252525 !important;
  color: yellow !important;
  margin-top: -2px;
  transition: background-color .4s;
  border-radius: 0px;
  outline: none !important;
}

.DatabaseDropdown div a {
  transition: background-color .4s;
  color: lime;
  text-decoration-color: yellow;
  border-radius: 0px;
  outline: none !important;
  border: 0;
}

.DatabaseDropdown div a:hover,
.DatabaseDropdown div a:active {
  background-color: #252525;
  transition: background-color .4s;
  color: yellow;
  text-decoration-color: yellow;
  border-radius: 0px;
  border: 0 !important;
}
.DatabaseDropdown button::after {
  display:none;
}
