.DatabaseDropdown {
  margin: 0;
  display: flex;
  height: 100%;
  width: auto;
  align-items: center;
  text-decoration-color: white;
  background-color: #252525;
}

.DatabaseDropdown a {
  margin: 0;
  color: #292828;
  text-decoration: none;
  text-align: center;
  width: 100px;
  box-sizing: border-box;
  display: block;
  padding: 4px;
  background-color:rgb(27, 27, 27);
  transition: background-color .3s;
  color: white;
}

.DatabaseDropdown button {
  background-color:rgb(27, 27, 27);
  color: white;
  margin: 0;
  padding-left: 10px;
  list-style: none;
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100%;
  font-family: 'Khand script=all rev=2', 'Raleway', 'Titillium Web', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  border: 0px;
  line-height: 4.5;
  outline: none !important;

}

button:hover,
button:active {
  background-color: #252525;
  margin-top: -2px;
  transition: background-color .4s;
  color: magenta;/*mediumturquoise;*/
}

.DatabaseDropdown a:hover,
.DatabaseDropdown a:active,
.DatabaseDropdown a.active {
  color: magenta;/*mediumturquoise;*/
  text-decoration-color: white;
  background-color: #252525;
  transition: background-color .4s;
}