.NavigationItems {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100%;
  font-family: 'Khand script=all rev=2', 'Raleway', 'Titillium Web', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 13px;
  line-height: 3.4;
}

.NavigationItems nav {
  align-items: center;
}

@media (min-width: 500px) {
  .NavigationItems {
    flex-flow: row;
  }
}